# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

#div
*.user
*.suo

#ReSharper
_ReSharper*

#nuget
packages/
/nuget/lib
/nuget/*.nupkg